* {
  margin: 0;
  padding: 0;
  width: 100%;
}

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}
/* Mobile first CSS */

.hero-area {
  margin: 5% 0;
  height: 90vh;
}

.navbar-brand{
  text-align: center;
}

.hero-img-jiit {
  width: auto;
  height: 17vh;
  margin: auto;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.hero-head {
  font-size: 0.9rem;
}

.redHead {
  font-size: 1.1rem;
  color: #A93226;
}

.hero-subhead-1 {
  font-size: 1rem;
}

.hero-subhead-2 {
  font-size: 0.75rem;
}

.borderLine {
  border-left-style: solid;
  border-width: thick;
  border-color: #111;
}

.nav-link{
  text-align: center;
}

.tbu{
  animation: blinker 1.5s linear infinite;
  font-size: 1.5rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

/* CSS for screen width greater than 768px goes here! */

@media only screen and (min-width: 768px) {
  .navbar-brand{
    text-align:left;
  }
  .nav-link{
    text-align: center;
  }
  .hero-area {
    min-height: 70vh;
    margin-top: 5%;
  }
  .footer-link {
    color: white;
    text-decoration: none;
  }
  .hero-img-vector {
    width: auto;
    height: 50vh;
    margin: auto;
  }
  .hero-img-jiit {
    width: auto;
    height: 35vh;
    margin: auto;
  }
  .hero-head {
    font-size: 2rem;
  }

  .hero-subhead-1 {
    font-size: 1.65rem;
  }

  .hero-subhead-2 {
    font-size: 1.5rem;
  }

  .redHead {
    font-size: 2.25rem;
    color: #A93226;
  }

  .hero-area {
    height: auto;
  }

  .section-head{
    font-size: 2rem;
  }
}



