* {
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  max-width: 100%;
}
/* Mobile first CSS */

.hero-area {
  padding: 5% 0;
  height: 90vh;
}

.navbar-brand{
  text-align: center;
}

.hero-img-jiit {
  width: auto;
  height: 17vh;
  margin: auto;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.hero-head {
  font-size: 0.9rem;
}

.redHead {
  font-size: 1.1rem;
  color: #A93226;
}

.redHead2 {
  color: #A93226;
}

.redHead3 {
  color: #A93226;
  font-size: 1.25rem;
}

.readHeadVb {
  font-size: 2rem;
  color: #A93226;
}

.hero-subhead-1 {
  font-size: 1rem;
}

.hero-subhead-2 {
  font-size: 0.75rem;
}

.borderLine {
  border-left-style: solid;
  border-width: thick;
  border-color: #111;
}

.nav-link{
  text-align: center;
}

.tbu{
  animation: blinker 2.5s linear infinite;
  font-size: 1.5rem;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.fixed-top.scrolled {
  background-color: white !important;
  transition: background-color 200ms linear;
}

#navbarNavDropdown{
  background-color: white;
}

.section-head{
  font-size: 1.5rem;
}

.frame {
  height: 70vh;
  width: 90vw;
}

.messageImg{
  height: 30vh;
}

.prevConfImg
{
  max-height: 30vh;
  margin: 7% 5%;
}

.prevConfImg2
{
  max-height: 20vh;
  margin: 7% 5%;
}

#preLoader
  {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
  }

/* CSS for screen width greater than 768px goes here! */

@media only screen and (min-width: 768px) {
  #navbarNavDropdown{
    background-color: transparent;
  }
  .navbar-brand{
    text-align:left;
  }
  .nav-link{
    text-align: center;
    color: black !important; 
  }
  .nav-link:hover{
    color: #A93226 !important;
  }
  .hero-area {
    min-height: 75vh;
    padding: 12% 0;
    width: 100%;
    overflow: hidden;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(47, 47, 47, 0.5)), url("../img/background.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8), rgba(47, 47, 47, 0.5)), url("../img/background.jpg"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
  }
  .footer-link {
    color: white;
    text-decoration: none;
  }

  .hero-img-jiit {
    width: auto;
    height: 35vh;
    margin: auto;
  }
  .hero-head {
    font-size: 2rem;
  }

  .hero-subhead-1 {
    font-size: 1.65rem;
  }

  .hero-subhead-2 {
    color: #A93226;
    font-size: 1.5rem;
  }

  .hero-subhead-3{
    font-size: 1.15rem;
  }

  .redHead {
    font-size: 2.25rem;
    color: #A93226;
  }

  .hero-area {
    height: auto;
  }

  .section-head{
    font-size: 2rem;
  }

  .frame {
    height: 70vh;
    width: 40vw;
  }
  
  #preLoader
  {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
  }
  #postLoader
  {
    display: none;
  }

  .about-box-1
  {
    margin: 1% 2%;
    padding: 5%;
    min-height: 65vh;
  }
  .news-box-1
  {
    margin: 1% 2%;
    padding: 5%;
    min-height: auto;
  }
  .about-box-2
  {
    margin: 1%;
    padding: 3% 5%;
    border-top: 1px solid black;
  }
  .dates{
    width: 100%;
    font-size: 1.2rem;
    margin-top: 10%;
  }

  .gallery-img{
    height: 50vh;
  }

  .messageImg{
    height: 45vh;
  }

  .prevConfImg
{
  max-height: 50vh;
  margin: 7% 5%;
}

.prevConfImg2
{
  max-height: 40vh;
  margin: 7% 5%;
}

}

.author-box-1 {
  margin: 1% 2%;
  padding: 5%;
  min-height: auto;
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #A93226;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.text-justify{
  text-align: justify;
  text-justify: inter-word;
}

.prev-conf{
  list-style-type: none;
}
.prev-conf li a{
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}

.prev-conf li a:hover{
  color: blue;
}

.multi-color{
  animation: colors 1s linear infinite;
}

@keyframes colors {
  0%, 100%{
    color: blue;
  }
  25%{
    color: red;
  }
  50%
  {
    color: yellow;
  }
  75%{
    color: green;
  }
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  background-image: none;
} */

/* .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #A93226;
} */

/* .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #A93226;
} */

#previousConferences{
  margin: 2% 5%;
  min-height: 60vh;
}